.header-content {
    padding: 10px;
    text-align: center;
}

.details-content {
    padding: 25px;
    line-height: 0.5;
}

.buttons {
    padding: 5px;
    margin-left: 75px;
 
    .save-button{
        width: 100px;
        margin-left: 10px;
    }
 
    .cancel-button {
        width: 100px;
    }
}

agm-map {
    height: 300px;
  }
